body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    color: white;
}

.navbar__left, .navbar__center, .navbar__right {
    display: flex;
    align-items: center;
}

.menu-button, .search-button, .upload-button, .apps-button, .notifications-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-button:hover, .search-button:hover, .upload-button:hover, .apps-button:hover, .notifications-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.logo {
    height: 30px;
}

.navbar__center input {
    padding: 5px;
    font-size: 16px;
    background-color: #121212;
    border: none;
    color: white;
    border-radius: 2px;
}

.avatar {
    height: 30px;
    border-radius: 50%;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #202020;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
}
.sidebar li a {
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

.sidebar li:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.main-content {
    flex: 1;
    padding: 20px;
}

.video-row, .movie-row, .book-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.video-box, .movie-box, .book-box {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.video-box img, .movie-box img, .book-box img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.video-box img {
    height: 180px; /* Landscape */
}

.movie-box img {
    height: 270px; /* Vertical */
}

.book-box img {
    height: 240px; /* 4:3 Aspect Ratio */
}

.video-info, .movie-info, .book-info {
    padding: 10px;
}

.video-info h3, .movie-info h3, .book-info h3 {
    margin: 0;
    font-size: 16px;
}

.video-info p, .movie-info p, .book-info p {
    margin: 5px 0;
    color: #b3b3b3;
    font-size: 14px;
}
